.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

#hero {
    padding-top: 160px;
    background-image: url(../img/header1.jpg);
    background-size: cover;
    background-position: center center;
    transition: 0.4s padding ease-out;
}

.second {
    background-image: url(../img/header2.jpg) !important;
}

#hero h2 {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 8px 12px 8px 12px;
    text-transform: uppercase;
}

#accordionFlush .accordion-item{
    border-left: 1px solid rgba(0,0,0,.125);
}

.material-icons {
    line-height: 1.5;
}